structure: test.cplx
montecarlo:
    algorithm: nvt
    algorithm-params:
        rot: .3
        trans: 4
        temperatur: 300
        accept-func: metropolis
    seed: 42
    initial-position:
        strategy: none
    short-range-cutoff:
            enable: False
output:
    log: complexes.log
    file: test.trr
    freq: 1
    nstructures: 10
    stat-file: test.stat
    restart-freq: -1