structure: 27.cplx
montecarlo:
    algorithm: nvt
    algorithm-params:
        accept-func: metropolis
        temperatur: 320
    seed: 1442
    equilibration: 0
    initial-position:
        strategy: init-no-collision
        max-attemps-per-domain: 3000
    short-range-cutoff:
        enable: True
        container: sparse
        radius: 20
output:
    log: complexes-remc.log
    file: 27.xtc
    freq: 1
    nstructures: 50
    stat-file: 27-remc.stat
    restart-freq: -1
